
<p *ngIf="!irises"><em>Loading...</em></p>

<div *ngIf="irises">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <radial [irises]="hierarchy"></radial>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <draw-plot [irises]="irises"></draw-plot>
    </div>

    <!--
    <table class='table' >
        <thead>
            <tr>
                <th>SL</th>
                <th>SW</th>
                <th>Pl</th>
                <th>PW</th>
                <th>Species</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iris of irises">
                <td>{{ iris.sepalLength }}</td>
                <td>{{ iris.sepalWidth }}</td>
                <td>{{ iris.petalLength }}</td>
                <td>{{ iris.petalWidth }}</td>
                <td>{{ iris.species }}</td>
            </tr>
        </tbody>
    </table> 
    -->
</div>